

#myVideo {
  
  
  height: 800px;
  padding-top:100px;
  width: 100%;
  
  
  
  
  
}
#myVideo2{
  height: 350px;
  width: 100%;
}






.swiper-container {
  width: 1380px;
  height: 700px;

  align-items: left;
  left:0;
  
  vertical-align: left; /*align with the text*/
}

.swiper-slide {
  text-align: left;
  left:0;
  
  

  height: 100%;
  width: 100%;
  
  

  /* to get the center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center; /*librairies*/
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: left;
}
.swiper-slide1 {
  text-align: left;
  left:0;


  height: 100%;
  width: 100%;
  
  

  /* to get the center slide text vertically  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center; /* librairies*/
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; 
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: left;
}


.gallery {
  float: right;
  margin-top: 30px;
  margin-bottom: 20px;
  

  border-radius: 15px;
  }

.gallery-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  
  text-decoration: none;
  color: #333;
  padding: 5px;
  box-sizing: border-box;
}

.gallery-item img {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out; /*modification of the transition with the webkit*/
	transition: .3s ease-in-out;
  width: 100%;
  
}

.gallery-item caption {
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
}


.gallery-item:hover {
  background-color: #333;
  -webkit-transform: scale(1);
	transform: scale(0.75);

}

.gallery-item:hover caption {
  color: #fff;
}

@media(max-width: 600px) {
  .gallery {
    width: 100%;
  }
  .gallery-item {
    width: 50%
  }
}

@media(max-width: 500px) {
  .gallery-item {
    width: 100%;
  }
}


html, body {
    
 font-family: 'Roboto Mono', monospace;
    background-color:  black;
  
    
    
    

    
}


.Menu{
    width: 400px;
    margin-top: 50px;  
    float :right;
    padding-right: 120px;
   position:relative; /*the menu pass under the absolute element*/
   
    text-align: left;
    display: block;

    font-family: 'Anton', sans-serif;


}

.Solar-System{
  
  text-align: center;

}
.BG1{
  background :url(../images/background.png);
  width: 100%;
  
  background-repeat: repeat; 
  height: 100%;
}
.BG2{
    background : url(../images/background2.png);
    width: 100%;
    height: 100%;
}
.BG3{
  background :url(../images/background.png);
  width: 100%;
  
  
  height: 1379px;
}


.submenu{
  
  display : none;
  
  position:  absolute; /*the submenu is diplayed on a relative element*/
}


nav li li{
  background-color: rgba(122, 49, 158, 0.178);
}


.wrapper {
  border-radius: 25px;
  width: 1250px;
  margin: 10px 10px 10px 123px ;
  height : 1379px;
  box-shadow: -1px 5px 5px 10px rgba(122, 49, 158, 0.178);

  

}
.wrapperr {
  border-radius: 25px;
  width: 1250px;
  margin: 10px 10px 10px 123px ;
  height : 6500px;
  border : 10px;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 2px 0px 5px 4px rgba(122, 49, 158, 0.178);

  background-color: 	black;
  

}
.wrapperrr {
  border-radius: 25px;
  width: 1250px;
  margin: 10px 10px 10px 123px ;
  height : 8200px;
  border : 10px;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 2px 0px 5px 4px rgba(122, 49, 158, 0.178);

  background-color: 	black;
  

}
.wrapperrrr {
  border-radius: 25px;
  width: 1250px;
  margin: 10px 10px 10px 123px ;
  height : 3300px;
  border : 10px;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 2px 0px 5px 4px rgba(122, 49, 158, 0.178); /*modification of the border of the wrapper*/

  background-color: 	black;
  

}
.wrapperrrrr {
  border-radius: 25px;
  width: 1250px;
  margin: 10px 10px 10px 123px ;
  height : 14100px;
  border : 10px;
  font-family: 'Roboto Mono', monospace;
  box-shadow: 2px 0px 5px 4px rgba(122, 49, 158, 0.178);

  background-color: 	black;
  

}


nav li {
    display: block;
    float: left;
    text-align: center;
  }
header nav ul {
   
    padding: 0px;
    margin: 0px;
  }
header nav ul li{
    position: relative;/*the whole menue is relative*/
    font-size:large;

  }
  div nav ul li:hover > ul {/*when you pass your cursor on a ul element the block are displayed*/
    display : block;
  }

.logo {
    float: left;
    height: 50px;
    line-height: 50px;
   
    font-size :larger;
    padding: 0px 15px;
  }
  a{
    display: block;
    text-align:center;
    width : 100px;
    word-spacing :normal;
    font-size:22px;
    padding: 0px 15px;
    height: 50px;
    
    line-height: 10px;
    color: white;

   
    
  }
  a:hover{ /*when you pass your cursors on the menu there is modification*/
    color: rgb(70,130,180);
  text-decoration: underline overline;

  }
a.submenu{



    
  display: block;
  text-align:center;
  width : 100px;
  word-spacing :normal;
  padding: 0px 15px;
  height: 50px;
  
  line-height: 50px;
  color: white;


  }
  b{
    
    text-align:center;
    width : 100px;
    word-spacing :normal;
    font-size:large;
    padding: 0px 15px;
    height: 50px;
    
    line-height: 30px;
    color: white;
    text-decoration: underline transparent;

  }
 
  footer {
      height : 50px;
      line-height:50px;
      font-family :'Times New Roman', Times, serif;
      color :white;
      text-align: center;
      
      

  }

 
  
 
  header {
    
    border-radius: 25px 25px 25px 25px;
    height: 100px;
  
    
    margin-top: 35px;
    background-color: rgba(122, 49, 158, 0.178);
    width: 100%;


 
    

  }
  h1 {
    padding-top:50px;
    padding-left: 152px;
    width: 1000px;
  color: whitesmoke;
  text-align:center;
  
  
  
  }
h2{
  color: whitesmoke;
  text-align:center;
  width : 300px;
  line-height: 40px;
  padding-left:502px;
}

h3{
  color: whitesmoke;
  text-align :left;
  

}
i{
  color: whitesmoke;
}
h4{
  padding-left: 117px;
  width :1100px;
  text-align:center;
  font-size :24px;
  line-height : 40px;
  color:white;
}

img{
  vertical-align:middle ;
}
h4 li{
  text-align: left;
  padding-left:40px;
  text-decoration: underline;
  color: rgb(57, 13, 61);
}
h5{
  padding-top: 30px;
  padding-left: 102px;
  width : 1100px;
  text-align: center;
  font-size : 24px;
  line-height : 70px;
  color:white;
  
}
h6{
  color: wheat;
  text-align:center;
  line-height: 30px;
  font-size: 20px;
}
p{
  color: white;
  text-align:center;
  line-height: 42px;
  width: 1200px;
  padding-left:15px;

  font-size: x-large;

  

}
.container {
  position: relative; /*for getting an overlay with text on the video */
}
.container video{
  position: relative;
  z-index:0;
}
.overlay{
  position: absolute; /*position on the video*/
  top:0;
    left:0;
    z-index:1;
  
  
 
}
.com{
  text-align:center;
  color: wheat;
}
h1.Intro{
  font-size: 40px;
}
.source{
  font-size: small;
}
.carousel {
  
  /* childhood with every relative element exepct body*/
  position: relative;
  

  width: 1200px;
  height: 750px;
  
  
  overflow: hidden;/* 1 image by 1*/
  

  margin: auto;
  

  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}


.carousel-images {
  
  /*
    for have a control on the positioning on the image
  */
  position: absolute;
  
  /*
 for absolute element to get one image by one
  */
  z-index: 1;
  
  /*
    set up initial position
  */
  left: 0;
  

  width: 50000px;
  height: 750px; 
  

  transition: left .5s ease-in-out;
}


.carousel-images img {
  width: 1200px;
  height: 750px;;  
}

/*
  for slideshow
*/
.carousel nav {
  
  /* for being put on the relative image */
  position: absolute;
  z-index: 2;
  

  width: 1200px;
  height: 750px;

  line-height: 200px;
}


.carousel nav a {
  text-decoration: wavy;
  color: #FFF;
  font-weight: bold;
  font-size: 90pt;
  padding: 0px 25px;
  

  transition: all .25s ease;

  opacity: 0;
  background-color: rgba(0,0,0,0);
}
/* nav buttoner*/
.carousel nav:hover a {
  

  opacity: 2;
  
}

/*left BUTTON*/
.carousel nav a:first-child {
  padding-top :360px;
  height:20px;
  float:left;
}

/*RIGHT BUTTON*/
.carousel nav a:last-child {
  padding-top :360px;
  float: right;
  
  
}

/* Caption on the image and modification*/
.carousel-caption {
  position: absolute;
  z-index: 3;
  bottom: 0;
  font-size:40px;
  padding-left:25px;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,0.25);
  height: 120px;
  line-height: 50px;
  margin: 0px;
}
i{
  padding-left :20px;
 color:wheat;
}
p a {
  text-align: right;
}




 






  


 
